/src/main/frontend/node_modules/
/.idea/
/out/
/src/main/resources/node_modules/
/target/
/src/main/resources/database/lock/Attributes.json.lock
/src/main/resources/database/lock/eventLists.json.lock
/src/main/resources/database/lock/events.json.lock
/src/main/resources/database/Attributes.json
/src/main/resources/database/eventLists.json
/src/main/resources/database/events.json
/database/
/src/main/resources/dist/
/src/main/resources/studentplanner-linux-x64.zip
/src/main/resources/studentplanner-win32-x64.zip
