<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/menuBar.css">
    <link rel="stylesheet" href="../styles/monthView.css">
    <link rel="stylesheet" href="../styles/itemView.css">
    <script src="../scripts/index.js" defer></script>

</head>
<body class="base">

    <div class="menuBarContainer">
        <div class = "leftContainer">
            <div class="searchBox">
                <input class="searchText" type="text" placeholder="Search" />
                <img class="searchButton" src="../sources/search.png" alt="Button">
            </div>
            <div class = "dateTextDiv">
                <label class="dateText">March 24th, 2023</label>
            </div>
        </div>

        <div class = "rightContainer">
            <div class = "calendarViewButtonDiv">
                <button class="calendarViewButton">Week</button>
                <button class="calendarViewButton">Month</button>
                <button class="calendarViewButton">Year</button>
            </div>
            <img class="shareButton" src="../sources/share-button.png" alt="Button">
        </div>
    </div>

    <div class="mainContainer">
        <div class="selectedItemContainer">
            <div class="selectedItemTitleContainer">
                <label class="selectedItemTitle">Title</label>
            </div>
            <div class="selectedItemFixedAttributeContainer">
                <Label class = "selectedItemText" style="grid-row: 1; grid-column: 1;">Start Date</Label>
                <Label class = "selectedItemText" style="grid-row: 1; grid-column: 2;">...</Label>
                <Label class = "selectedItemText" style="grid-row: 2; grid-column: 1;">End Date</Label>
                <Label class = "selectedItemText" style="grid-row: 2; grid-column: 2;">...</Label>
            </div>
            <div class="selectedItemAttributeContainer">
                <div class="selectedItemAttributeGrid">
                    <input class="selectedItemAttributeField">
                    <input class="selectedItemAttributeText">
                    <input class="selectedItemAttributeField">
                    <input class="selectedItemAttributeText">
                </div>
                <button class="selectedItemAttributeButton">+ New Attribute</button>
            </div>

            <div>
                <input class="selectedItemDescription">
            </div>

        </div>
        <div class="monthViewContainer">
            <div class="monthRowContainer">
                <div class="box"><label class="monthNumber">1</label></div>
                <div class="box"><label class="monthNumber">2</label></div>
                <div class="box"><label class="monthNumber">3</label></div>
                <div class="box"><label class="monthNumber">4</label></div>
                <div class="box"><label class="monthNumber">5</label></div>
                <div class="box"><label class="monthNumber">6</label></div>
                <div class="box"><label class="monthNumber">7</label></div>
            </div>
            <div class="monthRowContainer">
                <div class="box"><label class="monthNumber">8</label></div>
                <div class="box"><label class="monthNumber">9</label></div>
                <div class="box"><label class="monthNumber">10</label></div>
                <div class="box"><label class="monthNumber">11</label></div>
                <div class="box"><label class="monthNumber">12</label></div>
                <div class="box"><label class="monthNumber">13</label></div>
                <div class="box"><label class="monthNumber">14</label></div>
            </div>
            <div class="monthRowContainer">
                <div class="box"><label class="monthNumber">15</label></div>
                <div class="box"><label class="monthNumber">16</label></div>
                <div class="box"><label class="monthNumber">17</label></div>
                <div class="box"><label class="monthNumber">18</label></div>
                <div class="box"><label class="monthNumber">19</label></div>
                <div class="box"><label class="monthNumber">20</label></div>
                <div class="box"><label class="monthNumber">21</label></div>
            </div>
            <div class="monthRowContainer">
                <div class="box"><label class="monthNumber">22</label></div>
                <div class="box"><label class="monthNumber">23</label></div>
                <div class="box"><label class="monthNumber">24</label></div>
                <div class="box"><label class="monthNumber">25</label></div>
                <div class="box"><label class="monthNumber">26</label></div>
                <div class="box"><label class="monthNumber">27</label></div>
                <div class="box"><label class="monthNumber">28</label></div>
            </div>
            <div class="monthRowContainer">
                <div class="box"><label class="monthNumber">29</label></div>
                <div class="box"><label class="monthNumber">30</label></div>
                <div class="box"><label class="monthNumber">31</label></div>
                <div class="box"><label class="monthNumber">32</label></div>
                <div class="box"><label class="monthNumber">33</label></div>
                <div class="box"><label class="monthNumber">34</label></div>
                <div class="box"><label class="monthNumber">35</label></div>
            </div>
        </div>
    </div>



<!--<label>Home!</label>-->
<!--<button onclick="view2();">Go to view 2</button>-->
</body>
</html>